requests~=2.32.5
#mysql-connector-python~=9.6.0
tkcalendar
python-dotenv
python-dateutil
pyinstaller
cryptography
shu
reportlab
pypdf
pandas
docxtpl
openpyxl
docx2pdf
jinja2
xlrd
pytz
babel
pillow
pywin32
docx